# Ignore configuration files that may contain sensitive information.
sites/*/*settings*.php

# Ignore paths that contain generated content.
cache/
files/
sites/*/files
sites/*/private

# Use some global ignore files from https://github.com/github/gitignore

# OS-Specifics
.DS_Store
.LSOverride
Thumbs.db
Desktop.ini

# Other VCS/RCS
.svn/
/CVS/*
*/CVS/*
.cvsignore
*/.cvsignore

# IDEs / Editors
*.sublime-workspace
*.tmproj
*.tmproject
tmtags
*.un~
*~
*.swp

# Archives
*.zip
*.gz
*.tar
